<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adding New Author</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
  <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
  <%- include("partials/header.ejs") %>
  <%- include("partials/nav.ejs") %>
  <h1>Adding New Author</h1>
  <form action="/addAuthor" method="POST">
    First Name: <input type="text"text" name="fn"><br>
    Last Name: <input type="text" name="ln"><br>
    Date Of birth: <input type="date" name="birthday"><br>
    Date Of death: <input type="date" name="deathday"><br>
    Sex:
    <select name="sex">
      <option value="M">Male</option>
      <option value="F">Female</option>
    </select><br>
    Profession: <input type="text" name="profession"><br>
    Country: <input type="text" name="country"><br>
    Image Url: <input type="text" name="imageUrl"><br>
    Biography: <textarea name="bio"></textarea><br>
    <button>Add Author</button>
  </form>
  <br>
  <%- include("partials/footer.ejs") %>
</body>

</html>